@using ViagemImpacta.DTO.ReservationBookDTO
@model ReservationBookDto

@{
    ViewData["Title"] = "Detalhes do Pacote";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.ReservationBookId</dd>

        <dt class="col-sm-3">Destino</dt>
        <dd class="col-sm-9">@Model.Destination</dd>

        <dt class="col-sm-3">Preço Final</dt>
        <dd class="col-sm-9">@Model.FinalPrice.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</dd>

        <dt class="col-sm-3">Período</dt>
        <dd class="col-sm-9">@Model.CheckIn.ToShortDateString() a @Model.CheckOut.ToShortDateString()</dd>

        <dt class="col-sm-3">Hotéis Incluídos</dt>
        <dd class="col-sm-9">
            @if (Model.Hotels != null && Model.Hotels.Any())
            {
                <ul>
                    @foreach (var hotel in Model.Hotels)
                    {
                        <li>@hotel.Name (@hotel.Stars estrelas)</li>
                    }
                </ul>
            }
            else
            {
                <p>Nenhum hotel associado.</p>
            }
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.ReservationBookId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
</div>